
.commentsSection{
    border: 1px solid #ccc;
    height: 25rem;
    padding: 10px;
    position: relative;
    padding-bottom: 60px;  
    overflow-y: auto;
}
.commentWrapper {
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.644);
    border-radius: 5px;
    padding: 10px; 
}

.commentsHeader {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.commentWrapper span{
    margin-right: 30px;
}

.comments {
    padding: 10px;
}

.commentsInputContainer {
    position: relative;
    bottom: 0;
    background-color: white;
    z-index: 10;
    width: 100%;
    padding: 10px;
}

.addButton {
  background-color: hsl(215, 90%, 47%);
  border: none;
  padding: 8px;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  height: 4rem;
}

.addButton:hover {
    background-color: hsl(215, 90%, 30%);
  }

.inputField {
    width: 70rem;
    height: 5rem;
    padding: 5px;
    resize: none;
    font-size: 1.2rem;
    border-radius: 5px;

}